@font-face {
    font-family: 'Hurme Geometric Sans 4';
    src: url('./HurmeGeometricSans4-Bold.woff2') format('woff2'),
        url('./HurmeGeometricSans4-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hurme Geometric Sans 4';
    src: url('./HurmeGeometricSans4-Regular.woff2') format('woff2'),
        url('./HurmeGeometricSans4-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

