#keyboard-comp {
  width: 100%;
  /* position: absolute; */
  z-index: 10000;
  top: 1350px;
  left: 200px;
}

#keyboard-comp>div {
  position: relative;
}

#keyboard-comp-header {
  position: absolute;
  right: -72px;
  top: 70px;
  width: 70px;
  height: 60px;
  text-align: center;
  color: black;
  background-color: white;
  padding-top: 0;
  border-radius: 0 0 10px 0;
}

#keyboard-comp-toggle-keyboard {
  position: absolute;
  right: 20px;
  top: -70px;
  width: 70px;
  height: 70px;
  text-align: center;
  color: black;
  background-color: white;
  padding-top: 10px;
  border-radius: 5px 5px 0 0;
  box-shadow: 2px 2px 10px rgba(0,0,0,.3);
  cursor: pointer;
}

#keyboard-comp-toggle-keyboard .btn,
#keyboard-comp-header .btn {
  padding-left: 0;
  padding-right: 0;
  width: 50px;
}

.simple-keyboard {
  position: relative;
  background-color: white;
  padding: 10px !important;
  border-radius: 0px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.3);
  border: solid 1px rgba(255,255,255,.3);
}

.hg-row {
  display: block !important;
  text-align: center;
}

.hg-button {
  font-weight: bold;
  padding-top: 10px !important;
  font-size: 2rem;
  height: 80px;
  display: inline-block !important;
  min-width: 80px;
  vertical-align: top;
  border: solid 1px rgba(0,0,0,.2);
  border-radius: .5rem;
  margin: .2rem;
  cursor: pointer;
}

.hg-button:active {
  background-color: var(--auspostred) !important;
  color: white;
}

.hg-button-space {
  width: calc(100% - 200px);
}

.hg-button-shift, .hg-button-bksp {
  width: 80px;
  background-color: #999 !important;
  color: white;
}

.hg-layout-shift .hg-button-shift {
  background-color: var(--auspostred) !important;
}
