/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./assets/fonts/HurmeGeometricSans4/stylesheet.css";

@import "./components/KeyboardComp/KeyboardComp.css";

:root {
  --auspostred: #D71F29;
  --auspostdred: #A41E26;
}

body {
  margin: 0px;
  background: black;
  font-family: 'Hurme Geometric Sans 4', Arial, Helvetica, Helvetica Neue, serif !important;
  font-size: 1.4rem;
}

#app {
  height: 1920px;
  width: 1080px;
  overflow: hidden;
  background: white;
}

.btn-auspostred {
  background-color: var(--auspostred);
  color: white;
}

.btn-auspostdred {
  background-color: var(--auspostdred);
  color: white;
}

.btn-xlg {
  height: 80px;
  font-size: 1.6rem;
  font-weight: bold;
}

.btn-xxlg {
  height: 100px;
  font-size: 2.2rem;
  line-height: 90px;
  font-weight: bold;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #EEE;
}
.skeleton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #EEE, #FFF, #EEE);
  animation: Gradient 1s ease-in-out infinite;
}

.modal-backdrop {
  position: absolute;
  opacity: .8 !important;
  height: 100%;
}

@keyframes Gradient {
	0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.p-header {
  height: 250px;
}
.p-header h1 {
  font-size: 4rem;
  font-weight: bold;
}