#camera {
  height: 960px;
  position: relative;
  background-color: white;
}

#camera img {
  width: 100%;
  height: inherit;
  object-fit: contain;
  object-position: center;
}

#prompt {
  position: absolute;
  bottom: 0px;
  height: 470px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8));
}

#prompt h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.scanning {

}

.scanning:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;  
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 3.5rem;    
  }
}