#attractloop {
  height: inherit;
  background-color: var(--auspostred);
  position: relative;
}

#logo {
  position: absolute;
  width: 270px;
  right: 100px ;
}

#banner {
  height: 1260px;
}

#banner img {
  height: 1260px;
  object-fit: cover;
  object-position: center;
}

#prompt {
  height: 660px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

#prompt h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 150px;
  transform-origin: center bottom;
  animation: pulsating 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
