#devInfo {
  position: fixed;
  bottom: 0px;
  background-color: rgba(0,0,0,.5);
  color: white;
  z-index: 10000;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

#devSwitches {
  position: fixed;
  top: 0px;
  background-color: rgba(0,0,0,.5);
  color: white;
  z-index: 10000;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}